#divBody {
    width: 55%;
    margin: auto;
    position: fixed;
    top: 15%;
    left: 15%;
    background: #FDFCFB;
    padding: 15px 25px;
    border: 7px solid #991A2A;
    box-shadow: 0 0 200px #3B3A3A;;
    z-index: 10;
}

p {
    margin: 0px;
    font-size: 28px;
    color: #3B3A3A;
    font-family: miller-text, serif;
    font-weight: 600;
    font-style: normal;
    margin-top: 15px;
    display: inline-block;
}

.checkSuccess {
    margin-left: 10px;
    width: 20px;
    display: inline-block;
}

.hiddenCheck {
    display: none;
}

.steps {
    margin: 10px;
}

.postForm {
    border-bottom: 5px dotted #991A2A;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.hiddenForm {
    display: none;
}

.postChoose {
    font-family: miller-text, serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 20px;
}

.postUpload {
    font-family: miller-text, serif;
    font-weight: 400;
    font-style: normal;
}

#photoHead {
    margin-bottom: 10px;
}

#close {
    position: fixed;
    left: 65%;
    width: 25px;
}

#upload {
    margin-bottom: 15px;
}

.input-field {
    margin: 0px !important;
}

.input-field input:focus {
    border-bottom: 1px solid #3B3A3A !important;
    box-shadow: 0 1px 0 0 #3B3A3A !important;
}

input {
    color: #3B3A3A;
    font-family: miller-text, serif;
    font-weight: 400;
    font-style: normal;
}

textarea {
    margin-top: 0px;
    margin-bottom: 15px;
}

.postButton {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 32px;
    color: #991A2A;
    font-family: miller-text, serif;
    font-weight: 700;
    font-style: bold;
}

.postButton:focus {
    background-color: #fdfcfb !important;
    color: #991A2A; 
}

.tag-button {
    background-color: #991A2A !important;
    color: #FDFCFB !important;
    font-family: miller-text, serif;
}