.homeSidebarContainer {
    margin-top: 50px;
    width: 150px;
    height: 100vh;
    position: fixed;
    float: left;
    z-index: 5;
}

.clearfix::after {
    content: “”;
    display: block;
    clear: both;
}

.homeSidebar {
    text-align: center;
    width: 125px;
    margin-left: 30px;
}

.centeredButtons {
    position: fixed;
}

.customButton {
    width: 40px;
    margin: 4px;
}

#logoutButton {
    margin-top: 20px;
    width: 30px;
}

.buttonCreate {
    position: fixed;
    bottom: 20px;
}

#createButton {
    width: 70px;
}