body {
    background-color: rgba(226, 200, 181, .29);
}

.sticks {
    width: 35%;
    position: fixed;
    bottom: 0;
    left: 62%;
}

.header {
    margin-left: 40px;
    margin-top: 20px;
    color: #3B3A3A;
    font-family: miller-text, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
}

.formContainer {
    background-color:#FDFCFB;    
    border: 10px solid #991A2A;
    padding: 20px;
    width: 55%;
    margin: 10px 40px 0px 40px;
    padding: 15px;
}

.signUp {
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 0px;
    font-size: 32px;
    color: #3B3A3A;
    font-family: miller-text, serif;
    font-weight: 700;
    font-style: bold;
}

.signUp:focus {
    background-color: #FDFCFB;
    color: #991A2A;
}

.avatarChoose {
    margin-top: 7px;
    font-family: miller-text, serif;
    font-weight: 400;
    font-style: normal;
}

.avatarUpload {
    margin-top: 20px;
    font-family: miller-text, serif;
    font-weight: 400;
    font-style: normal;
}